.sidebar {
  border-right: 1px solid rgba(0,0,0,.125);
}

.main-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.app-name {
  padding: 25px 0;
}

.avatar {
  background: #FAC190;
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
}

.card {
  margin-bottom: 30px;
}

.card .card-body {
  display: flex;
}

.card .card-text {
  margin-bottom: 0;
}

.card .avatar {
  flex: 0 0 48px;
  margin-right: 1.25rem;
}

.floating-action {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.fixed-alert {
  position: fixed;
  bottom: 0;
  right: 15px;
}

.album-photos img:hover {
  cursor: pointer;
}

@media (max-width: 425px) {
  .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .container {
    padding: 0;
  }
  
  .avatar {
    margin-bottom: 15px;
  }
}